@media screen and (max-width: 1024px) {
  .inside #footer{
    width: 45%;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  #restaurant-container, #reviews-container {
    padding: 40px 40px 30px;
    /* width: 100%; */
  }

  #restaurant-container #restaurant-img{
    width: 85vw;
  }

  #restaurant-name {
    font-size: 1.5em;
  }

  #restaurant-cuisine {
    width: 85vw;
  }

  #reviews-list li {
    width: 75vw;
  }

  .inside #map-container {
    all: unset;
  }

  .inside #map{
    height: 400px;
    width: 100%;
    background-color: #ccc;
  }

  .inside #footer{
    width: 100%;
    position: static;

  }

  #breadcrumb {
    /* width: 100%; */
    width: 87%;
  }
}

@media screen and (max-width: 360px) {
  #restaurant-container, #reviews-container {
    padding: 40px 40px 30px;
    /* width: 100%; */
  }

  #restaurant-container #restaurant-img{
    width: 85vw;
  }

  #restaurant-name {
    font-size: 1.5em;
  }

  #restaurant-cuisine {
    width: 85vw;
  }

  #reviews-list li {
    width: 75vw;
  }

  .inside #map-container {
    all: unset;
  }

  .inside #map{
    height: 400px;
    width: 100%;
    background-color: #ccc;
  }

  .inside #footer{
    width: 87%;
    position: static;

  }

  #breadcrumb {
    /* width: 100%; */
    width: 87%;
  }
}
